.container.cf-intro
  
  %section.col-sm-offset-3.col-sm-6.no-padding
    %section.sign-up

      = render 'shared/flash'
      = devise_error_messages!

      - if session[:connection]
        %h3.p-b-lg.text-center Welcome to CrowdFlame

        .panel.panel-default
          .btn.btn-primary.font-light.m-b-md
            .pull-left.thumb-md.m-r-md
              = image_tag(session[:connection]["profile_picture"], class: "img-circle")

            .block.text-left
              %strong.block
                = "Welcome, @#{session[:connection]["username"]}"
              %p.no-margin Complete your registration

          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "cf-form", autocomplete: "off"}) do |f|

            .form-group
              = f.text_field :email, class: "form-control input-hg", placeholder: "Enter your email"

            .form-group
              = f.password_field :password, class: "form-control input-hg", placeholder: "Enter your password"

            .form-group
              = f.button "Sign Up", class: "btn btn-primary btn-hg font-bold", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating..."}

            %small.text-muted
              Already have an account?
              = link_to "Log In", new_user_session_path

      - else
        .form-group
          = link_to(connect_instagram_path(:provider => "instagram"), class: "btn btn-primary btn-hg bg-instagram") do
            %i.fa.fa-instagram
            Connect with Instagram


