= form_for connection, html: {class: "cf-form"} do |f|
  .panel-group#accordion
    .panel.panel-default

      / Head
      .connect-account
        .has-feedback.has-success
          = link_to "#collapse-#{ connection['id'] }", class: "btn btn-warning btn-hg font-light block bg-instagram", data: {toggle: "collapse", parent: "#accordion"} do

            %span.profile-picture.pull-left.thumb-md
              = image_tag(connection['profile_picture'], class: "img-circle")

            %span.user-info
              %p.full-name.text-left
                = "@#{ connection['username'] }"

              %p.status.text-left
                = "#{ connection['provider'].capitalize } connected"

      / Body
      %div{id: "collapse-#{ connection['id'] }", class: "panel-collapse collapse"}
        .panel-body

          .form-group
            .row
              .col-sm-6
                = f.label :category, class: "block"
                = f.select(:category, options_for_select( category_options, connection.category.id ), {include_blank: false}, class: "form-control cf-select", data: {'button-class' => 'btn btn-default caret-full'})

              .col-sm-6
                = f.label :tags
                = f.text_field :tags, class: "form-control bootstrap-tagsinput default ", placeholder: "Tags"

          .form-group
            .row
              .col-sm-6
                = f.label :language, class: "block"
                = f.select(:language, options_for_select( form_collection(:language), connection.language ), {include_blank: false}, class: "form-control cf-select", data: {'button-class' => 'btn btn-default caret-full'})

              .col-sm-6
                = f.label :age, "Audience Age"
                = f.select(:age, options_for_select( form_collection(:age), connection.age ), {include_blank: false}, class: "form-control cf-select", data: {'button-class' => 'btn btn-default caret-full'})

        .panel-footer
          .row
            .col-xs-6
              = f.button "Save Changes", class: "btn btn-success font-bold", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}

            .col-xs-6
              .pull-right
                .remove-connection{data: {toggle: "tooltip", placement: "left", title: "Remove account"}}
                  = link_to socialconnection_path(connection), method: :delete, data: { confirm: "Are you sure? All offers associated with this connection will be removed!" } do
                    %i.i.i-trashcan