%section.content.cf-account-settings.bg-grey
  .container

    .row
      .col-md-6.col-md-offset-3
        #flash-container
        = render "shared/flash"
        = render "shared/settings/nav_tabs"

        - if !session[:connection].blank?
          = render "socialconnections/form_new", connection: session[:connection]

        - @socialconnections.each do |connection|
          = render "socialconnections/form_update", connection: connection
        
        .form-group
          .connect-account
            = link_to connect_socialconnections_path(:provider => "instagram"), class: "btn btn-info btn-hg font-bold block disconnect bg-instagram btn-auth", id: "connect-instagram", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Connecting..."} do
              %i.fa.fa-instagram
              Connect Instagram