/ Full Page Image Background Carousel Header
%header#myCarousel.carousel.slide
  / Landing
  .full-page#landing
    .container.cf-intro
      %section.col-sm-6.col-sm-offset-3
        %section.callout
          %h1.logo
            %span.font-light CrowdFlame

          %p.desc It's how people sell shoutouts
          .sign-in-button
            = link_to(connect_instagram_path(:provider => "instagram"), class: "btn btn-primary btn-hg btn-round") do
              %span.fa.fa-instagram
              Sign up with Instagram
          %small.font-white
            Already have an account?
            = link_to("Sign In", new_user_session_path, class: "font-white font-bold")

  / Wrapper for Slides
  .carousel-inner
    .item
      .fill{:style => "background-image:url( #{image_url("girl.jpg")} );"}

    .item.active
      .fill{:style => "background-image:url( #{image_url("hudson.jpg")} );"}

    .item
      .fill{:style => "background-image:url( #{image_url("skyline.jpg")} );"}