.container.cf-intro

  %section.col-sm-offset-3.col-sm-6.no-padding
    %section.sign-up
      = devise_error_messages!

      %h3.p-b-lg.text-center Forgot your password?

      .panel.panel-default

        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "cf-form no-padding", autocomplete: "off" }) do |f|

          .form-group
            = f.text_field :email, autofocus: true, class: "form-control", placeholder: "Email"

          .form-group
            = f.button "Send Password", class: "btn btn-primary btn-hg font-bold", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing in..."}

          %small.text-muted
            Remember password?
            = link_to "Sign In", new_user_session_path