%section.content.cf-account-settings.bg-grey
  .container

    .row
      .col-md-6.col-md-offset-3
        #flash-container
        = render "shared/flash"
        = render "shared/settings/nav_tabs"

        = form_for(:payment, remote: true, html: {class: "cf-form"}) do |f|
          .form-group
            = f.text_field :email, value: @payment_email,class: "form-control input-hg", placeholder: "Payment Email"

          = f.button "Save Changes", class: "btn btn-success btn-hg font-bold", method: :patch, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}