.container.cf-intro

  %section.col-sm-offset-3.col-sm-6.no-padding
    %section.sign-up
      = render 'shared/flash'

      %h3.p-b-lg.text-center Sign In

      .panel.panel-default

        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "cf-form no-padding", autocomplete: "off"}) do |f|

          .form-group
            = f.text_field :email, class: "form-control input-hg", placeholder: "Email"

          .form-group
            = f.password_field :password, class: "form-control input-hg", placeholder: "Password"

          .form-group
            = f.button "Log In", class: "btn btn-primary btn-hg font-bold", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing in..."}

          %small.text-muted
            %p
              = link_to "Forgot password?", new_user_password_path
          %small.text-muted
            Don't have an account?
            = link_to "Sign Up", new_user_registration_path