.panel.panel-default
  .panel-heading
    .panel-title
      Create an Offer

  = form_for(@offer, html: {class: "offer-form", autocomplete: "off"}) do |f|
    .panel-body
      .field-group.m-b-md
        = f.label :title, "Offer Title"
        #price-title
          = f.select(:price, options_for_select( offer_price ), {include_blank: false}, class: "form-control cf-select", data: {'button-class' => 'btn btn-default select-price'})
        = f.text_field :title, class: "form-control", size: "30x1", placeholder: "for a shoutout", maxlength: 70

      .form-group
        .row
          .col-sm-6
            = f.label :delivery, "Days to Deliver", class: "block"
            = f.select(:delivery, options_for_select( delivery_days ), {include_blank: false}, class: "form-control cf-select", data: {'button-class' => 'btn btn-default caret-full'})

      .form-group.m-b-sm
        = f.label :description
        = f.text_area :description, class: "form-control", size: "30x2", placeholder: "Describe what you're offering. Keep it short and sweet!"

      .form-group.m-b-sm
        = f.label :instructions, "Write instructions for buyer"
        = f.text_area :instructions, class: "form-control", size: "30x2", placeholder: "Example: Provide username, image/video and caption for shoutout"

    .panel-footer
      = f.submit "Save & Continue", class: "btn btn-success", data: {disable_with: "Flaming..."}
