.panel.panel-default
  .panel-heading
    .panel-title
      Sell a Shout

  = form_for(@offer, html: {class: "offer-form", autocomplete: "off"}) do |f|
    .panel-body
      .form-group
        .row
          .col-sm-6
            = f.label :delivery, "How long will it take?", class: "block"
            = f.select(:delivery, options_for_select( delivery_days ), {include_blank: false}, class: "form-control cf-select", data: {'button-class' => 'btn btn-default caret-full'})

          .col-sm-6
            = f.label :price, "What's your price?", class: "block"
            = f.number_field :price, class: "form-control default", placeholder: "Try $5"

      .form-group.m-b-sm
        = f.label :description, "Explain your shoutout"
        = f.text_area :description, class: "form-control", size: "30x2", placeholder: "Describe what you're offering. Keep it short and sweet!"

      .form-group.m-b-sm
        = f.label :instructions, "Instructions for the buyer"
        = f.text_area :instructions, class: "form-control", size: "30x2", placeholder: "Example: Provide username, image/video and caption for shoutout"

    .panel-footer
      = f.submit "Save & Continue", class: "btn btn-success", data: {disable_with: "Flaming..."}
