%section.content.cf-offer-feed.bg-grey
  .container
    = render "shared/flash"

    .row
      - @offers.each do |offer|
        .col-xs-12.col-sm-4.col-md-3
          %section.offer
            %section.row
              .col-sm-12.no-padding-xs
                .offer-image
                  = link_to offer_path(offer) do
                    = image_tag( offer.user.profile_picture )
                  .user-info
                    = link_to user_profile_path( offer.user.username ), class: "social-user pull-left m-r-md" do
                      .clear.font-white
                        .username.font-bold
                          = "@#{offer.user.username}"
                        %small.follow-metric.block
                          = "#{offer.user.followers} Followers / #{offer.user.media_count} Media"

              .col-sm-12.no-padding-xs
                .offer-details
                  = link_to(new_offer_path, class: "btn btn-warning btn-addon btn-sm full-width ") do
                    %i.fa.fa-instagram
                    $5 - Order Now