%section.content.cf-account-settings.bg-grey
  .container

    .row
      .col-sm-12
        .offer-widget.panel.bg-white
          /right column
          .col-sm-7.no-padding
            .offer-gallery
              .featured
                = image_tag "http://img1.coastalliving.timeinc.net/sites/default/files/image/2010/11/getaways/half-moon-bay-jamaica-l.jpg"

          .col-sm-5.no-padding
            .offer-details

              %section.profile.clear.p-md.b-b
                .row
                  .col-xs-12.col-md-8.m-b-md
                    .thumb-md.pull-left.m-r-md
                      = image_tag( @offer.socialconnection.profile_picture, class: "img-rounded" )
                    .clear
                      = link_to user_profile_path( @offer.socialconnection.user.username ), class: "username font-bold" do
                        = @offer.socialconnection.username
                      %small.follow-metric.block
                        = "#{@offer.socialconnection.followers} Followers / #{@offer.socialconnection.media_count} Media"

                  .col-xs-12.col-md-4
                    %a.btn.btn-success.p-r-sm.p-l-sm.full-width{href: "#"}
                      Order Now
                    / %a.btn.btn-success.block{href: "#"}
                    /   Order Now

              .description.p-md.b-b
                / .title.font-bold
                /   %span.offer-price.font-bold<
                /     $
                /     %span> 5
                /   = @offer.title.capitalize
                / %span.font-bold
                /   = @offer.title
                / %br/

                %span.font-bold.text-ellipsis
                = @offer.description
